<!doctype html>
{% load static %}
<html>

<head>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="icon" href="../static/img/icons/Logo.ico">
</head>

<body>
    <div id="left-panel-container">
        <div id="left-panel-logo">
            <img id="logo" src="static/img/icons/Logo.svg" alt="">
        </div>
        <div id="left-panel-searchbox">
            <form action="" method="get">
                <input id="search" type="text" placeholder="Buscar funcion">
                <button id="send" type="submit" method="get"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div id="left-panel-options">
            <div class="left-panel-option">
                <i class="fas fa-home"></i>
                <a href="/">Inicio</a>
            </div>
            <div class="left-panel-option"> 
                <i class="fas fa-warehouse"></i>
                <a href="inventario">Inventario</a>
            </div>
            <div class="left-panel-option">
                <i class="fas fa-key"></i>
                <a href="#">Gestionar</a>
            </div>
            <div class="left-panel-option">
                <i class="fas fa-store"></i>
                <a href="#">PoS</a>
            </div>
            <div class="left-panel-option">
                <i class="fas fa-chart-line"></i>
                <a href="#">Graficos</a>
            </div>
            <div class="left-panel-option">
                <i class="fas fa-folder-open"></i>
                <a href="#">Reportes</a>
            </div>
            <div class="left-panel-option">
                <i class="fas fa-clipboard-list"></i>
                <a href="#">Tareas</a>
            </div>
            <div class="left-panel-option">
                <i class="fas fa-question"></i>
                <a href="#">Ayuda</a>
            </div>
        </div>
    </div>
    <div id="top-panel-container">
        

    </div>
</body>

</html>