* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    width: 47.82%;
    display: block;
    margin: auto;
}

#left-panel-container {
    height: -webkit-fill-available;
    width: 15.62%;
    background-color: #442E2E;
    box-shadow: 3px 0 19px 0;
}

#left-panel-searchbox {
    margin-top: 10%;
}

form {
    width: 90.7%;
    display: flex;
    margin: auto;
}

#left-panel-list_items {
    list-style: none;
    width: 100%;
    margin-top: 21.91%;
}


#search {
    width: 220px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 5px 14px 0;
    background-color: #C4C4C4;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 16px;
    text-indent: 10px;
}

#send {
    width: 50px;
    height: 40px;
    margin-left: 3.36%;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 5px 14px 0;
    background-color: #00B596;
}

#send:hover {
    cursor: pointer;
}

#left-panel-options{
    margin-top: 15%;
}

.left-panel-option {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    color: #C4C4C4;
    background-color: #654B4B;
    border-style: solid;
    border-color: #707070;
    border-width: 1px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 20px;
}
.left-panel-option i{
    width: 10px;
    filter: drop-shadow( 0 3px 6px rgba(0, 0, 0, .16));
    margin-right: 10px;
    position: relative;
    top: 25%;
    left: 20px;
}

.left-panel-option a{
    color: #C4C4C4;
    text-decoration: none;
    position: relative;
    top: 25%;
    left: 30px;
    transform: translate(-50%, -50%);
}
